/*==================================================================
[ Form ]*/

.fromTE-form {
    width: 100%;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
    height:auto;
    background-color: rgb(216, 212, 212);
}

.fromTableTE-form{
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 23px 15px 23px 15px;
    height:auto;
    background-color: rgb(255, 255, 255);
}

/*------------------------------------------------------------------
[ Input ]*/