.bg-light {
    background-color: #bd2130!important;
}
.list-group{
    color:#ffffff;
} 
.vid{

    position: center;
    top: 11px;
    right: 10px;
    left: 10px;
    display: block;
} 

.picture{

    position: center;
    top: 11px;
    right: 10px;
    left: 10px;
    display: block;
} 
