.bg-light {
    background-color: #bd2130!important;
}
.list-group{
    color:#ffffff;
} 
.vid{

    position: center;
    top: 11px;
    right: 10px;
    left: 10px;
    display: block;
} 
.picture{
    width: 1000px;
    height:500px;
    position: center;
    top: 11px;
    right: 10px;
    left: 10px;
    display: block;
}

.picture{

    position: center;
    top: 11px;
    right: 10px;
    left: 10px;
    display: block;
} 
div.box{
    padding: 5%;
    border: 3px solid #3c3c3d; 
    background: #727b85 none repeat scroll 0% 0%; 
    width: 90%; 
    height:90%; 
    text-align: center;
    margin: 0.5em 0.5em 0.5em em;
}
